@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Poppins:wght@300;500&display=swap');

:root {
  --primary-white: #fff;
  --primary-cyan: rgb(100, 250, 255);
  --primary-cyan-hover: rgba(100, 250, 255, 0.781);
  --primary-dark: rgb(18, 13, 48);
  --primary-blue: rgb(51, 105, 255);
  --primary-blue-hover: rgba(51, 105, 255, 0.575);
}

body {
  font-family: 'Poppins', sans-serif;
}

/* -----Navbar Styling----- */
.bg-color {
  background-color: rgb(18, 13, 48);
}

.navbar-brand {
  font-family: 'Hurricane', cursive;
  font-size: 1.5625rem;
}

.nav-item {
  margin: 0 0.625rem;
}

.navbar-nav > li > a {
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-cyan);
  border-radius: 0.1845rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-cyan);
  border-radius: 0.1845rem;
  color: var(--primary-white) !important;
}

/* -----Navbar Styling----- */

/* -----Header Styling----- */
.header-wraper {
  position: relative;
  background: url(./Asset/HeaderBackground.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-cyan);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
/* --Typed Styling-- */
.typed-text {
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary-white);
}
/* --Typed Styling-- */
/* --Btn Contact Me */
.btn-contact {
  border: 3px solid var(--primary-cyan);
  text-transform: uppercase;
  color: var(--primary-white);
  font-weight: 500;
  border-radius: 10px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
  text-decoration: none;
}

.btn-contact:hover {
  color: var(--primary-white);
  background-color: var(--primary-cyan-hover);
  border: 3px solid var(--primary-cyan-hover);
  transition: 0.2s ease-in-out;
}
/* --Btn Contact Me */
/* @media */
@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}
/* @media */
/* -----Header Styling----- */
